<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>19/04/25 11:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectManager.StartApp()[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">&gt;&gt;StartApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/25 11:38:10</td>   <td>24240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectManager.StartApp()[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">&gt;&gt;StartApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/25 11:38:08</td>   <td>21937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectManager.closeApp()[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/25 11:38:30</td>   <td>44560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectManager.closeApp()[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/04/25 11:38:00</td>   <td>14194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadparameter.createLeadparameter(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">createLeadparameter</td> 
  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/04/25 11:38:24</td>   <td>38010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadparameter.createLeadparameter(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.day3.CreateLeadparameter@3abbfa04]">createLeadparameter</td> 
  <td>main@1383547042</td>   <td></td> </tr>
</table>
